<div class="about-container">
  <h1>À propos de nous</h1>
  <p>
    Après un voyage d'un an en Amérique Latine, et en particulier 4 mois en
    Colombie, nous avons découvert l'artisanat local qui nous a profondément
    inspirés. Albane s'est spécialisée dans la fabrication de sacs crochetés,
    tandis que Pierre a appris à créer des bracelets artisanaux. Chaque création
    est un hommage à la culture et aux traditions que nous avons rencontrées.
  </p>
  <p>
    Notre objectif est de partager cette passion avec vous, tout en soutenant
    l'artisanat local et en mettant en lumière les techniques et le savoir-faire
    uniques de cette région.
  </p>
  <div class="photos">
    <img src="assets/images/Ninou1.jpeg" />
    <img
      src="assets/images/Ninou2.jpeg"
      alt="Pierre fabriquant des bracelets"
    />
  </div>
</div>
