<header class="site-header">
  <div class="container">
    <h1 class="site-title">Artisanat Wayuu</h1>
    <nav class="site-nav">
      <ul>
        <li>
          <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Accueil</a
          >
        </li>
        <li><a routerLink="/sacs" routerLinkActive="active">Sacs</a></li>
        <li>
          <a routerLink="/bracelets" routerLinkActive="active">Bracelets</a>
        </li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
        <li><a routerLink="/about" routerLinkActive="active">À propos</a></li>
      </ul>
    </nav>
  </div>
</header>
