<!-- Bannière principale -->
<section class="hero-banner">
  <div class="container">
    <div class="hero-content">
      <h2>Découvrez l'Artisanat Wayuu</h2>
      <p>Des créations uniques qui célèbrent la tradition et l'authenticité.</p>
      <div class="cta-buttons">
        <button class="cta-button" routerLink="/sacs" routerLinkActive="active">
          Explorer les sacs
        </button>
        <button
          class="cta-button"
          routerLink="/bracelets"
          routerLinkActive="active"
        >
          Explorer les bracelets
        </button>
      </div>
    </div>
  </div>
</section>

<section class="about-us">
  <div class="container">
    <h2>Qui sommes-nous ?</h2>
    <p>
      Plongez dans l'univers vibrant de l'artisanat latino-américain avec
      <strong>Artisanat Wayuu</strong>. Inspirés par notre voyage d’un an en
      Amérique latine, nous vous proposons des sacs crochetés et des bracelets
      faits main, mêlant tradition et design moderne.
    </p>
    <p>
      Chaque création est bien plus qu’un simple accessoire : c’est une
      histoire, un savoir-faire unique, et un éclat de culture. Soutenez les
      artisans locaux et apportez une touche de couleur et d'authenticité à
      votre style !
    </p>

    <!-- Images alignées -->
    <div class="photos">
      <img
        src="assets/images/sacs-plusieurs1.jpg"
        alt="Photo de sacs artisanaux"
      />
      <img
        src="assets/images/bracelets-plusieurs2.avif"
        alt="Photo de bracelets artisanaux"
      />
    </div>
  </div>
</section>
