<!-- Bannière principale -->
<section class="hero-banner fade-in">
  <div class="container">
    <div class="hero-content slide-in">
      <h2>Découvrez l'Artisanat Wayuu</h2>
      <p>Des créations uniques qui célèbrent la tradition et l'authenticité.</p>
      <div class="cta-buttons">
        <button class="cta-button" routerLink="/sacs" routerLinkActive="active">
          Explorer les sacs
        </button>
        <button
          class="cta-button"
          routerLink="/bracelets"
          routerLinkActive="active"
        >
          Explorer les bracelets
        </button>
      </div>
    </div>
  </div>
</section>

<section class="about-us">
  <div class="container">
    <!-- <h2 class="fade-in">Qui sommes-nous ?</h2>
    <p> -->
    <h2 data-aos="fade-up">Qui sommes-nous ?</h2>
    <p data-aos="fade-up" data-aos-delay="400">
      Nous sommes Albane et Pedro, les créateurs passionnés derrière
      <strong>D'ici et d'ailleurs</strong>. Notre aventure a commencé lors d’un
      voyage d’un an à travers l’Amérique latine, où nous avons découvert
      l’artisanat traditionnel des peuples Wayuu. Nous avons voulu partager ces
      trésors de culture à travers des sacs crochetés et des bracelets faits
      main, alliant modernité et authenticité. Inspirés par notre voyage d’un an
      en Amérique latine, nous vous proposons des sacs crochetés et des
      bracelets faits main, mêlant tradition et design moderne.
    </p>
    <!-- Images alignées -->
    <div class="photos">
      <img
        src="assets/images/sacs-plusieurs1.jpg"
        alt="Photo de sacs artisanaux"
        class="zoom-in"
      />
      <img
        src="assets/images/bracelets-plusieurs2.avif"
        alt="Photo de bracelets artisanaux"
        class="zoom-in"
      />
    </div>
  </div>
</section>
