/* Styles de la page */
h1 {
  text-align: left;
  margin-bottom: 10px;
  font-size: 2rem;
  color: #333;
  font-family: "Merriweather", serif;
}

.subtitle {
  text-align: left;
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 20px;
}

/* Grille des produits */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  /* padding: 20px; */
}

/* Carte produit */
.product-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: left;
  padding: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Image produit */
.product-card img {
  width: 100%; /* Les images occupent toute la largeur de la carte */
  max-width: 300px; /* Limite la largeur maximale */
  height: 200px; /* Hauteur fixe pour uniformiser */
  object-fit: cover; /* Coupe ou étire légèrement l'image pour remplir le conteneur */
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Titre produit */
.product-card h3 {
  font-size: 1.2rem;
  color: #6c4b3f;
}

.product-card p {
  font-size: 1rem;
  color: #555;
}

/* Description */
.product-card .description {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 10px;
}

/* Prix */
.product-card .price {
  font-size: 1.2rem;
  color: #6c4b3f; /* Couleur du texte */
  font-size: 1.1rem; /* Taille du texte */
  font-weight: bold; /* Texte en gras */
  margin-bottom: 15px;
}

/* Bouton ajouter au panier */
.product-card button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #ffae00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product-card button:hover {
  background-color: #ff8c00;
}
